/******** FONT STACK ***************/

	/******** (many of these will be applied later, but I wanted to get the whole stack 
	on here for the future. Sorry you have to scroll past it all for now...) ***************/

.afs-titilliumtext22l { font-family: "TitilliumText22L", "Arial", "Helvetica", sans-serif; ;}

.afs-kontrapunkt { font-family: "Kontrapunkt", Rockwell, serif; font-size: 1.075em;}

.afs-titilliumtext22l { font-family: "TitilliumText22L", "Arial", "Helvetica", sans-serif; font-size: 1.000em;}

.afs-andale-mono { font-family: "Andale Mono", Menlo, Courier New, Courier, monospace; font-size: 0.982em;}

	@font-face {
	  font-family: 'TitilliumText22L';
	  src: url('/fonts/TitilliumText22L005-webfont.eot');
	  src: local('☺'), url('/fonts/TitilliumText22L005-webfont.woff') format('woff'), url('/fonts/TitilliumText22L005-webfont.ttf') format('truetype'), url('/fonts/TitilliumText22L005-webfont.svg#webfontX4pGz9fc') format('svg');
	  font-weight: 700;
	  font-style: normal;
	}

	@font-face {
	  font-family: 'TitilliumText22L';
	  src: url('/fonts/TitilliumText22L002-webfont.eot');
	  src: local('☺'), url('/fonts/TitilliumText22L002-webfont.woff') format('woff'), url('/fonts/TitilliumText22L002-webfont.ttf') format('truetype'), url('/fonts/TitilliumText22L002-webfont.svg#webfontX4pGz9fc') format('svg');
	  font-weight: 200;
	  font-style: normal;
	}

	@font-face {
	  font-family: 'TitilliumText22L';
	  src: url('/fonts/TitilliumText22L004-webfont.eot');
	  src: local('☺'), url('/fonts/TitilliumText22L004-webfont.woff') format('woff'), url('/fonts/TitilliumText22L004-webfont.ttf') format('truetype'), url('/fonts/TitilliumText22L004-webfont.svg#webfontX4pGz9fc') format('svg');
	  font-weight: 500;
	  font-style: normal;
	}

	@font-face {
	  font-family: 'TitilliumText22L';
	  src: url('/fonts/TitilliumText22L003-webfont.eot');
	  src: local('☺'), url('/fonts/TitilliumText22L003-webfont.woff') format('woff'), url('/fonts/TitilliumText22L003-webfont.ttf') format('truetype'), url('/fonts/TitilliumText22L003-webfont.svg#webfontX4pGz9fc') format('svg');
	  font-weight: 400;
	  font-style: normal;
	}

	@font-face {
	  font-family: 'TitilliumText22L';
	  src: url('/fonts/TitilliumText22L001-webfont.eot');
	  src: local('☺'), url('/fonts/TitilliumText22L001-webfont.woff') format('woff'), url('/fonts/TitilliumText22L001-webfont.ttf') format('truetype'), url('/fonts/TitilliumText22L001-webfont.svg#webfontX4pGz9fc') format('svg');
	  font-weight: 400;
	  font-style: normal;
	}

	@font-face {
	  font-family: 'TitilliumText22L';
	  src: url('/fonts/TitilliumText22L006-webfont.eot');
	  src: local('☺'), url('/fonts/TitilliumText22L006-webfont.woff') format('woff'), url('/fonts/TitilliumText22L006-webfont.ttf') format('truetype'), url('/fonts/TitilliumText22L006-webfont.svg#webfontX4pGz9fc') format('svg');
	  font-weight: 400;
	  font-style: normal;
	}

	@font-face {
	  font-family: 'Kontrapunkt';
	  src: url('/fonts/Kontrapunkt-Bold-webfont.eot');
	  src: local('☺'), url('/fonts/Kontrapunkt-Bold-webfont.woff') format('woff'), url('/fonts/Kontrapunkt-Bold-webfont.ttf') format('truetype'), url('/fonts/Kontrapunkt-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
	  font-weight: 700;
	  font-style: normal;
	}

	@font-face {
	  font-family: 'Kontrapunkt';
	  src: url('/fonts/Kontrapunkt-Light-webfont.eot');
	  src: local('☺'), url('/fonts/Kontrapunkt-Light-webfont.woff') format('woff'), url('/fonts/Kontrapunkt-Light-webfont.ttf') format('truetype'), url('/fonts/Kontrapunkt-Light-webfont.svg#webfontX4pGz9fc') format('svg');
	  font-weight: 200;
	  font-style: normal;
	}

	@font-face {
	  font-family: 'Kontrapunkt';
	  src: url('/fonts/Kontrapunkt-LightItalic-webfont.eot');
	  src: local('☺'), url('/fonts/Kontrapunkt-LightItalic-webfont.woff') format('woff'), url('/fonts/Kontrapunkt-LightItalic-webfont.ttf') format('truetype'), url('/fonts/Kontrapunkt-LightItalic-webfont.svg#webfontX4pGz9fc') format('svg');
	  font-weight: 200;
	  font-style: italic;
	}

	@font-face {
	  font-family: 'TitilliumText22L';
	  src: url('/fonts/TitilliumText22L005-webfont.eot');
	  src: local('☺'), url('/fonts/TitilliumText22L005-webfont.woff') format('woff'), url('/fonts/TitilliumText22L005-webfont.ttf') format('truetype'), url('/fonts/TitilliumText22L005-webfont.svg#webfontX4pGz9fc') format('svg');
	  font-weight: 700;
	  font-style: normal;
	}

	@font-face {
	  font-family: 'TitilliumText22L';
	  src: url('/fonts/TitilliumText22L002-webfont.eot');
	  src: local('☺'), url('/fonts/TitilliumText22L002-webfont.woff') format('woff'), url('/fonts/TitilliumText22L002-webfont.ttf') format('truetype'), url('/fonts/TitilliumText22L002-webfont.svg#webfontX4pGz9fc') format('svg');
	  font-weight: 200;
	  font-style: normal;
	}

	@font-face {
	  font-family: 'TitilliumText22L';
	  src: url('/fonts/TitilliumText22L004-webfont.eot');
	  src: local('☺'), url('/fonts/TitilliumText22L004-webfont.woff') format('woff'), url('/fonts/TitilliumText22L004-webfont.ttf') format('truetype'), url('/fonts/TitilliumText22L004-webfont.svg#webfontX4pGz9fc') format('svg');
	  font-weight: 500;
	  font-style: normal;
	}

	@font-face {
	  font-family: 'TitilliumText22L';
	  src: url('/fonts/TitilliumText22L003-webfont.eot');
	  src: local('☺'), url('/fonts/TitilliumText22L003-webfont.woff') format('woff'), url('/fonts/TitilliumText22L003-webfont.ttf') format('truetype'), url('/fonts/TitilliumText22L003-webfont.svg#webfontX4pGz9fc') format('svg');
	  font-weight: 400;
	  font-style: normal;
	}

	@font-face {
	  font-family: 'TitilliumText22L';
	  src: url('/fonts/TitilliumText22L001-webfont.eot');
	  src: local('☺'), url('/fonts/TitilliumText22L001-webfont.woff') format('woff'), url('/fonts/TitilliumText22L001-webfont.ttf') format('truetype'), url('/fonts/TitilliumText22L001-webfont.svg#webfontX4pGz9fc') format('svg');
	  font-weight: 400;
	  font-style: normal;
	}

	@font-face {
	  font-family: 'TitilliumText22L';
	  src: url('/fonts/TitilliumText22L006-webfont.eot');
	  src: local('☺'), url('/fonts/TitilliumText22L006-webfont.woff') format('woff'), url('/fonts/TitilliumText22L006-webfont.ttf') format('truetype'), url('/fonts/TitilliumText22L006-webfont.svg#webfontX4pGz9fc') format('svg');
	  font-weight: 400;
	  font-style: normal;
	}


	@font-face {
	  font-family: 'Andale Mono';
	  src: url('/fonts/AndaleMono-webfont.eot');
	  src: local('☺'), url('/fonts/AndaleMono-webfont.woff') format('woff'), url('/fonts/AndaleMono-webfont.ttf') format('truetype'), url('/fonts/AndaleMono-webfont.svg#webfontX4pGz9fc') format('svg');
	  font-weight: 400;
	  font-style: normal;
	}

/*******************************/
/******** GLOBAL ***************/
/*******************************/

body {
	font-family: "Kontrapunkt", Rockwell, serif; font-size: 1.0em;
	background-color: #628395;
	color: #D0CE7C;
}

body * {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: auto;
	flex-wrap: wrap;
}

/******** HEADINGS ***************/

header, h3 {
	padding: 1%;
	font-size: 3em;
	font-family: "TitilliumText22L", "Arial", "Helvetica", sans-serif; font-size: 1.2em;
	color: #CF995F;
}

header {
	font-size: 2em;
}

/******** IMAGES ***************/

img.self {
	max-width: 30%;
	max-height: 30%;
	padding: 2%;
	border-radius: 75%;
	-moz-box-shadow: 0 0 5px #fff; /* got this and the next two lines from SOF to begin shadow effecct */
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0px 0px 5px #fff;
}

/******** LINKS ***************/

article a {
	display: block;
	color: #FF83FF; /* made this one up; edited from color scheme */
	border: 1px solid #96897B;
}


/******** FOOTER ***************/

img.logo {
	padding: 0 -3%; /*moving icons closer together from global styling */
}


/*** Color scheme inspiration: https://coolors.co/628395-96897b-dbad6a-cf995f-d0ce7c ***/

/* #628395 dark blue teal? - background*/
/* #FF83FF made this one up; edited from scheme's dark blue teal - links*/
/* #96897B beige? no idea - not using yet*/
/* #DBAD6A matte light orange? - shadow effect*/
/* #CF995F matte dark orange? - headings */
/* #D0CE7C matte yellowy green? - body text*/








